<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>제품 목록</title>
</head>
<body>
<h1>제품 목록</h1>
<ul>
    <li th:each="post : ${posts}">
        <a th:href="@{/admin/products/{id}(id=${post.id})}" th:text="${post.product_name}"></a>
        <a th:href="@{/admin/products/{id}/modify(id=${post.id})}">수정</a>
        <form th:action="@{/admin/products/{id}(id=${post.id})}" method="post" style="display:inline;">
            <input type="hidden" name="_method" value="delete">
            <button type="submit">삭제</button>
        </form>
    </li>
</ul>
<a th:href="@{/admin/products/write}">상품 추가</a>
</body>
</html>