<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head><title>상품 수정</title></head>
<body>
<h1>상품 수정</h1>
<form th:action="@{/products/{id}(id=${product.id})}" th:object="${product}" method="post">
    <p>상품 코드: <input type="number" th:field="*{product_id}"/></p>
    <p>상품명: <input type="text" th:field="*{product_name}"/></p>
    <p>가격: <input type="number" th:field="*{product_price}"/></p>
    <p>수량: <input type="number" th:field="*{quantity}"/></p>
    <p>이미지 URL: <input type="text" th:field="*{image_url}"/></p>
    <p>설명: <textarea th:field="*{description}"></textarea></p>
    <button type="submit">수정</button>
</form>
</body>
</html>